# Start of Data Transformation

Task: use Pandas to transform csv files into DataFrames that match desired tables for database schema

Tables:

- TERRITORY (done)
- TERRITORIALCHANGE (done)

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls ../SourceData/CorrelatesOfWar/

Codebooks                    MID_Narratives_2002-2010.pdf
CowWarList.csv               NMC_5_0-wsupplementary.csv
CowWarList.pdf               Non-StateWarData_v4.0.csv
Entities.pdf                 Territories.csv
Extra-StateWarData_v4.0.csv  alliance_v4.1_by_member.csv
IGO_stateunit_v2.3.csv       contdir.csv
Inter-StateWarData_v4.0.csv  igounit_v2.3.csv
Intra-StateWarData_v4.1.csv  majors2016.csv
MIDA_4.2.csv                 states2016.csv
MIDB_4.2.csv                 system2016.csv
MIDLOCA_2.0.csv              tc2014.csv
MID_Narratives_1993-2001.pdf

## Create 'TERRITORY' table

Task: transform Territories.csv into a table with attributes:

- TerritoryID
- TerritoryName

Note: Territory.csv was created by running Entities.pdf through [Tabula](https://tabula.technology/) and hand-correcting minor errors (for instance, some sets of rows were shifted to the left).

There were also some `\r`s introduced into rows where the TerritoryName was too long. I removed these by hand.

Some TerritoryIDs matched up to multiple TerritoryNames. Those Territory IDs were:

- 374
- 1152
- 3351
- 3377

I suspect this is a coding error, as the names these IDs corresponded to were in different (albiet relatively close) locations. For the sake of having a unique ID, and because only the ID is recorded in the TERRITORIALCHANGE table, I modified these by hand to be the same, with the second name in parentheses.

I used this code to investigate these irregularities:

```
weirdnames = dfTerritory['TerritoryName'].str.contains('\\r', regex=True)
sum(weirdnames)
dfTerritory['TerritoryID'].value_counts()
```

In [3]:
dfTerritory = pd.read_csv('../SourceData/CorrelatesOfWar/Territories.csv')
dfTerritory

,Entity Number,Name,Begin Year,End Year,Ending Political Status
0,3,Alaska,1816.0,1867.0,Became colony of 365
1,3,Alaska,1867.0,1959.0,Became colony of 2
2,3,Alaska,1959.0,1993.0,Became part of 2
3,4,Hawaii,1898.0,1960.0,Became colony of 2
4,4,Hawaii,1960.0,1993.0,Became part of 2
5,5,Virgin Islands,1816.0,1917.0,Became colony of 390
6,5,Virgin Islands,1917.0,1993.0,Became colony of 2
7,6,Puerto Rico,1816.0,1821.0,Became part of 1070
8,6,Puerto Rico,1821.0,1898.0,Became colony of 230
9,6,Puerto Rico,1898.0,1952.0,Became colony of 2
10,7,Texas,1816.0,1836.0,Became part of 70
11,7,Texas,1845.0,1861.0,Became part of 2
12,7,Texas,1861.0,1865.0,Became part of 1002
13,7,Texas,1865.0,1993.0,Became part of 2
14,10,Greenland,1816.0,1953.0,Became colony of 390
15,10,Greenland,1941.0,1945.0,Occupied by 2
16,11,Faeroe Is.,1816.0,1947.0,Became colony of 390
17,11,Faeroe Is.,1940.0,1945.0,Occupied by 200
18,20,Canada,1816.0,1841.0,Became part of 1025
19,20,Canada,1841.0,1919.0,Became colony of 200
20,21,Newfoundland,1816.0,1920.0,Became colony of 200
21,21,Newfoundland,1933.0,1949.0,Became colony of 200
22,21,Newfoundland,1949.0,1993.0,Became part of 20
23,30,Bermuda,1816.0,1993.0,Became colony of 200
24,31,Bahamas,1816.0,1973.0,Became colony of 200
25,40,Cuba,1816.0,1821.0,Became part of 1070
26,40,Cuba,1816.0,1898.0,Became colony of 230
27,40,Cuba,1898.0,1902.0,Occupied by 2
28,40,Cuba,1906.0,1909.0,Occupied by 2
29,41,Haiti,1915.0,1934.0,Occupied by 2
...,...,...,...,...,...
2621,9900,Samoa,1889.0,1900.0,Became protectorate of 2
2622,9900,Samoa,1900.0,1993.0,Became part of 990
2623,9960,Australian Antarctic Territory,1933.0,1993.0,Claimed by 900
2624,9970,French and Southern Antarctic Territories (F.S...,1955.0,1993.0,Became possession of 220
2625,9971,Adelie Land,1840.0,1955.0,Claimed by 220
2626,9971,Adelie Land,1955.0,1993.0,Became part of 9970
2627,9972,St. Paul and New Amsterdam Is.,1843.0,1955.0,Became possession of 220
2628,9972,St. Paul and New Amsterdam Is.,1955.0,1993.0,Became part of 9970
2629,9973,Kerguelen Is.,1893.0,1955.0,Became possession of 220
2630,9973,Kerguelen Is.,1955.0,1993.0,Became part of 9970
2631,9974,Crozet Is.,1816.0,1955.0,Became possession of 220
2632,9974,Crozet Is.,1955.0,1993.0,Became part of 9970
2633,9980,British Antarctic Territory,1962.0,1993.0,Became possession of 200
2634,9981,Palmer Antarctic Territory,1908.0,1962.0,Claimed by 1163
2635,9981,Palmer Antarctic Territory,1962.0,1993.0,Became part of 9980
2636,9982,South Orkney Is.,1821.0,1833.0,Became possession of 200
2637,9982,South Orkney Is.,1833.0,1962.0,Became part of 1163
2638,9982,South Orkney Is.,1962.0,1993.0,Became part of 9980
2639,9983,South Shetland Is.,1819.0,1833.0,Became possession of 200
2640,9983,South Shetland Is.,1833.0,1962.0,Became part of 1163
2641,9983,South Shetland Is.,1962.0,1993.0,Became part of 9980
2642,9984,South Sandwich Is.,1816.0,1833.0,Became possession of 200
2643,9984,South Sandwich Is.,1833.0,1962.0,Became part of 1163
2644,9984,South Sandwich Is.,1962.0,1985.0,Became part of 9980
2645,9984,South Sandwich Is.,1985.0,1993.0,Became part of 1165
2646,9985,Argentine Antarctica,1942.0,1993.0,Claimed by 160
2647,9986,Chilean Antarctica,1940.0,1993.0,Claimed by 155
2648,9987,Neu Schwabenland,1939.0,1945.0,Claimed by 255
2649,9991,Peter I I.,1931.0,1993.0,Became possession of 385
2650,9993,Bouvet I.,1927.0,1993.0,Became possession of 385

In [4]:
dfTerritory.drop(columns=['Begin Year', 'End Year', 'Ending Political Status'], inplace=True)
dfTerritory.rename(columns={'Entity Number':'TerritoryID', 'Name':'TerritoryName'}, inplace=True)
dfTerritory.drop_duplicates(inplace=True)
dfTerritory

      TerritoryID                                      TerritoryName
0               3                                             Alaska
3               4                                             Hawaii
5               5                                     Virgin Islands
7               6                                        Puerto Rico
10              7                                              Texas
14             10                                          Greenland
16             11                                         Faeroe Is.
18             20                                             Canada
20             21                                       Newfoundland
23             30                                            Bermuda
24             31                                            Bahamas
25             40                                               Cuba
29             41                                              Haiti
30             42                 Dominican Republic (Santo Domingo)
36             50                             West Indies Federation
56             51                                            Jamaica
58             52                                Trinidad and Tobago
60             53                                           Barbados
63             54                                           Dominica
68             55                                            Grenada
73             56                                          St. Lucia
77             57                     St. Vincent and the Grenadines
81             58                                  Antigua & Barbuda
86             59                                         Montserrat
91             60                                    St. Kitts-Nevis
96             65                                         Guadeloupe
98             66                                         Martinique
99             68                               Netherlands Antilles
102            70                                             Mexico
105            80                          Belize (British Honduras)
...           ...                                                ...
2591         9610                                      Clipperton I.
2595         9620                                       Pitcairn Is.
2596         9621                                           Ducie I.
2598         9720                                            Wake I.
2600         9730                                         Midway Is.
2601         9740                                        Palmyra Is.
2605         9750                                        Johnston I.
2606         9760                                       Kingman Reef
2607         9770                                         Howland I.
2608         9771                                           Baker I.
2609         9772                                          Jarvis I.
2610         9810                                       Caroline Is.
2616         9820                                        Mariana Is.
2621         9900                                              Samoa
2623         9960                     Australian Antarctic Territory
2624         9970  French and Southern Antarctic Territories (F.S...
2625         9971                                        Adelie Land
2627         9972                     St. Paul and New Amsterdam Is.
2629         9973                                      Kerguelen Is.
2631         9974                                         Crozet Is.
2633         9980                        British Antarctic Territory
2634         9981                         Palmer Antarctic Territory
2636         9982                                   South Orkney Is.
2639         9983                                 South Shetland Is.
2642         9984                                 South Sandwich Is.
2646         9985                               Argentine Antarctica
2647         9986                                 Chilean Antarctica
2648         9987                                   Neu Schwabenland
2649         9991                                         Peter I I.
2650         9993                                          Bouvet I.

[1146 rows x 2 columns]

In [5]:
dfStates = pd.read_csv('../SourceData/CorrelatesOfWar/states2016.csv')
dfStates =  dfStates[['ccode', 'statenme']]
dfStates.rename(columns={"ccode":"TerritoryID", "statenme":"TerritoryName"}, inplace=True)

allplaces = [dfTerritory, dfStates]
dfTerritories = pd.concat(allplaces)
dfTerritories

     TerritoryID                       TerritoryName
0              3                              Alaska
3              4                              Hawaii
5              5                      Virgin Islands
7              6                         Puerto Rico
10             7                               Texas
14            10                           Greenland
16            11                          Faeroe Is.
18            20                              Canada
20            21                        Newfoundland
23            30                             Bermuda
24            31                             Bahamas
25            40                                Cuba
29            41                               Haiti
30            42  Dominican Republic (Santo Domingo)
36            50              West Indies Federation
56            51                             Jamaica
58            52                 Trinidad and Tobago
60            53                            Barbados
63            54                            Dominica
68            55                             Grenada
73            56                           St. Lucia
77            57      St. Vincent and the Grenadines
81            58                   Antigua & Barbuda
86            59                          Montserrat
91            60                     St. Kitts-Nevis
96            65                          Guadeloupe
98            66                          Martinique
99            68                Netherlands Antilles
102           70                              Mexico
105           80           Belize (British Honduras)
..           ...                                 ...
213          771                          Bangladesh
214          775                             Myanmar
215          780                           Sri Lanka
216          781                            Maldives
217          790                               Nepal
218          800                            Thailand
219          811                            Cambodia
220          812                                Laos
221          816                             Vietnam
222          817                 Republic of Vietnam
223          820                            Malaysia
224          830                           Singapore
225          835                              Brunei
226          840                         Philippines
227          850                           Indonesia
228          860                          East Timor
229          900                           Australia
230          910                    Papua New Guinea
231          920                         New Zealand
232          935                             Vanuatu
233          940                     Solomon Islands
234          946                            Kiribati
235          947                              Tuvalu
236          950                                Fiji
237          955                               Tonga
238          970                               Nauru
239          983                    Marshall Islands
240          986                               Palau
241          987      Federated States of Micronesia
242          990                               Samoa

[1389 rows x 2 columns]

In [6]:
dfTerritories['TerritoryName'] = dfTerritories['TerritoryName'].str.replace('\&', 'and')
dfTerritories

     TerritoryID                       TerritoryName
0              3                              Alaska
3              4                              Hawaii
5              5                      Virgin Islands
7              6                         Puerto Rico
10             7                               Texas
14            10                           Greenland
16            11                          Faeroe Is.
18            20                              Canada
20            21                        Newfoundland
23            30                             Bermuda
24            31                             Bahamas
25            40                                Cuba
29            41                               Haiti
30            42  Dominican Republic (Santo Domingo)
36            50              West Indies Federation
56            51                             Jamaica
58            52                 Trinidad and Tobago
60            53                            Barbados
63            54                            Dominica
68            55                             Grenada
73            56                           St. Lucia
77            57      St. Vincent and the Grenadines
81            58                 Antigua and Barbuda
86            59                          Montserrat
91            60                     St. Kitts-Nevis
96            65                          Guadeloupe
98            66                          Martinique
99            68                Netherlands Antilles
102           70                              Mexico
105           80           Belize (British Honduras)
..           ...                                 ...
213          771                          Bangladesh
214          775                             Myanmar
215          780                           Sri Lanka
216          781                            Maldives
217          790                               Nepal
218          800                            Thailand
219          811                            Cambodia
220          812                                Laos
221          816                             Vietnam
222          817                 Republic of Vietnam
223          820                            Malaysia
224          830                           Singapore
225          835                              Brunei
226          840                         Philippines
227          850                           Indonesia
228          860                          East Timor
229          900                           Australia
230          910                    Papua New Guinea
231          920                         New Zealand
232          935                             Vanuatu
233          940                     Solomon Islands
234          946                            Kiribati
235          947                              Tuvalu
236          950                                Fiji
237          955                               Tonga
238          970                               Nauru
239          983                    Marshall Islands
240          986                               Palau
241          987      Federated States of Micronesia
242          990                               Samoa

[1389 rows x 2 columns]

In [7]:
TerritoryNameMaxLength = int(dfTerritories['TerritoryName'].str.encode(encoding='utf-8').str.len().max())
print(TerritoryNameMaxLength)

70

In [8]:
dfTerritories['TerritoryID'].value_counts()

530     3
42      3
740     3
150     3
390     3
385     3
339     3
40      3
41      3
345     3
211     3
652     3
651     3
350     3
368     3
367     3
616     3
600     3
210     3
366     3
290     3
255     3
220     3
315     3
305     3
212     3
371     2
451     2
439     2
438     2
       ..
9972    1
7411    1
3316    1
7413    1
7415    1
5324    1
9464    1
9465    1
9466    1
3326    1
3327    1
7759    1
6631    1
9451    1
9452    1
7399    1
9621    1
7552    1
824     1
9820    1
3291    1
9203    1
7551    1
9603    1
5332    1
5331    1
9253    1
7564    1
5325    1
2       1
Name: TerritoryID, Length: 1167, dtype: int64

In [9]:
dfTerritories.drop_duplicates(subset=['TerritoryID'], inplace=True)
dfTerritories

      TerritoryID                       TerritoryName
0               3                              Alaska
3               4                              Hawaii
5               5                      Virgin Islands
7               6                         Puerto Rico
10              7                               Texas
14             10                           Greenland
16             11                          Faeroe Is.
18             20                              Canada
20             21                        Newfoundland
23             30                             Bermuda
24             31                             Bahamas
25             40                                Cuba
29             41                               Haiti
30             42  Dominican Republic (Santo Domingo)
36             50              West Indies Federation
56             51                             Jamaica
58             52                 Trinidad and Tobago
60             53                            Barbados
63             54                            Dominica
68             55                             Grenada
73             56                           St. Lucia
77             57      St. Vincent and the Grenadines
81             58                 Antigua and Barbuda
86             59                          Montserrat
91             60                     St. Kitts-Nevis
96             65                          Guadeloupe
98             66                          Martinique
99             68                Netherlands Antilles
102            70                              Mexico
105            80           Belize (British Honduras)
...           ...                                 ...
2634         9981          Palmer Antarctic Territory
2636         9982                    South Orkney Is.
2639         9983                  South Shetland Is.
2642         9984                  South Sandwich Is.
2646         9985                Argentine Antarctica
2647         9986                  Chilean Antarctica
2648         9987                    Neu Schwabenland
2649         9991                          Peter I I.
2650         9993                           Bouvet I.
0               2            United States of America
29            115                            Suriname
39            200                      United Kingdom
50            223                       Liechtenstein
51            225                         Switzerland
52            230                               Spain
53            232                             Andorra
54            235                            Portugal
69            300                     Austria-Hungary
80            331                          San Marino
87            341                          Montenegro
93            347                              Kosovo
114           380                              Sweden
133           450                             Liberia
148           516                             Burundi
176           626                         South Sudan
178           640                              Turkey
192           692                             Bahrain
195           698                                Oman
198           702                          Tajikistan
217           790                               Nepal

[1167 rows x 2 columns]

In [10]:
dfTerritories['TerritoryID'].value_counts()

9251    1
564     1
605     1
9002    1
609     1
610     1
6800    1
8231    1
2661    1
4711    1
616     1
620     1
625     1
626     1
8402    1
7563    1
630     1
7220    1
602     1
601     1
572     1
553     1
567     1
568     1
569     1
570     1
571     1
698     1
600     1
580     1
       ..
3327    1
7759    1
4524    1
225     1
7415    1
3340    1
3341    1
3343    1
3346    1
8152    1
679     1
9464    1
7414    1
9203    1
9452    1
3291    1
9820    1
824     1
7552    1
9621    1
7399    1
9451    1
7413    1
6631    1
9453    1
9454    1
9972    1
7411    1
3316    1
2       1
Name: TerritoryID, Length: 1167, dtype: int64

In [11]:
dfTerritories.to_csv('../FinalData/territory.csv', encoding='utf-8', index=False)

## Create 'TERRITORIALCHANGE' table

Task: transform tc2014.csv into a table with attributes:

- TerritorialChangeID
- Gainer
- Loser
- TransferDate
- Year
- Month
- Procedure
- TerritoryID
- TerritoryArea
- TerritoryPopulation
- IsWholeTerritory
- IsMilConflict
- IsIndependence
- GainerIsCont
- LoserIsCont
- IsGainerHomeland
- IsLoserHomeland
- IsSystemEntry
- IsSystemExit

In [12]:
dfTerrChange = pd.read_csv('../SourceData/CorrelatesOfWar/tc2014.csv')
dfTerrChange

,year,month,gainer,gaintype,procedur,entity,contgain,area,pop,portion,loser,losetype,contlose,entry,exit,number,indep,conflict,version
0,1816,7,160,1,-9,160,-9,2093164.00,1970000,1,230,0,0,1,0,3,1,0,5
1,1816,3,200,0,3,790,0,1.00,.,0,790,1,1,0,0,4,0,1,5
2,1816,.,200,0,3,420,0,179.00,.,0,-9,1,-9,0,0,5,0,0,5
3,1817,.,220,0,3,433,0,7819.00,100000,1,200,0,0,0,0,28,0,0,5
4,1817,.,365,1,1,365,1,650.00,.,0,-9,1,1,0,0,29,0,1,5
5,1818,10,2,1,3,20,1,84240.00,.,0,200,0,0,0,0,30,0,0,5
6,1818,12,155,1,-9,155,-9,464568.00,1656300,1,230,0,0,1,0,31,1,1,5
7,1818,10,200,0,3,2,0,41600.00,.,0,2,1,1,0,0,32,0,0,5
8,1818,6,200,0,1,750,0,421200.00,.,0,-9,1,-9,0,0,33,0,1,5
9,1818,.,200,0,2,438,0,16.00,.,0,-9,1,-9,0,0,34,0,0,5
10,1818,.,640,1,3,671,1,388500.00,.,1,-9,1,-9,0,0,35,0,1,5
11,1819,2,2,1,3,40,1,186488.00,54477,0,230,0,0,0,0,36,0,0,5
12,1819,12,100,1,-9,100,-9,660760.00,1400000,1,230,0,0,1,0,37,1,0,5
13,1819,.,220,0,2,580,0,1.00,.,0,580,1,1,0,0,38,0,0,5
14,1821,11,42,1,-9,42,-9,48734.00,89000,1,230,0,0,-9,0,39,1,0,5
15,1821,3,70,1,-9,70,-9,1426757.00,7000000,1,230,0,0,1,0,40,1,0,5
16,1821,6,100,1,1,101,1,1082207.00,800000,1,230,0,0,0,0,41,0,1,5
17,1821,7,135,1,-9,135,-9,1559891.00,1929300,1,230,0,0,-9,0,42,1,0,5
18,1821,11,235,0,3,165,0,269810.00,70000,1,230,0,0,0,0,43,0,0,5
19,1822,5,100,1,1,130,1,550685.00,600000,1,230,0,0,0,0,44,0,1,5
20,1822,.,640,1,1,625,1,229471.00,100000,1,-9,1,-9,0,0,45,0,1,5
21,1824,12,140,1,-9,140,-9,8259504.00,5306418,1,235,0,0,1,0,46,1,0,5
22,1824,3,200,0,3,830,0,583.00,10000,1,-9,1,1,0,0,47,0,0,5
23,1824,3,200,0,3,827,0,1658.00,77756,0,210,0,0,0,0,48,0,0,5
24,1824,3,210,0,3,850,0,25089.00,93875,0,200,0,0,0,0,49,0,0,5
25,1825,8,145,1,-9,145,-9,3016000.00,1750000,1,230,0,0,1,0,50,1,0,5
26,1825,12,200,0,2,9993,0,48.00,0,1,-9,1,-9,0,0,51,0,0,5
27,1825,.,580,1,1,580,1,1.00,.,0,220,0,0,0,0,52,0,0,5
28,1825,.,616,1,4,616,-9,116348.00,875000,1,640,0,1,-9,0,53,1,0,5
29,1826,.,200,0,2,561,0,200000.00,.,0,-9,1,-9,0,0,54,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,1993,1,316,1,4,316,-9,79228.00,10300000,1,315,1,1,1,1,861,1,0,5
808,1993,1,317,1,4,317,-9,48666.00,5200000,1,315,1,1,1,1,862,1,0,5
809,1993,4,531,1,4,531,-9,124993.00,3000000,1,530,1,1,1,0,863,1,1,5
810,1993,5,690,1,3,645,1,.,0,0,645,1,1,0,0,864,0,0,5
811,1994,3,565,1,3,5651,1,1124.00,30000,1,560,0,0,0,0,865,0,0,5
812,1994,10,986,1,-9,980,-9,487.00,15600,0,2,0,0,1,0,866,1,0,5
813,1995,2,663,1,3,666,1,340.00,0,0,666,1,1,0,0,867,0,0,5
814,1996,4,710,1,3,365,1,18.00,0,0,365,1,1,0,0,868,0,0,5
815,1997,6,316,1,3,317,1,4.52,31,0,317,1,1,0,0,869,0,0,5
816,1997,6,317,1,3,316,1,4.52,120,0,316,1,1,0,0,870,0,0,5
817,1997,7,710,1,3,720,1,1084.00,6700000,1,200,0,0,0,0,871,0,0,5
818,1998,7,710,1,3,705,1,470.00,.,0,705,1,1,0,0,872,0,0,5
819,1998,8,369,1,3,359,1,1.00,0,0,359,1,1,0,0,873,0,0,5
820,1998,8,359,1,3,369,1,1.00,0,0,369,1,1,0,0,874,0,0,5
821,1999,3,365,1,3,366,1,30.00,0,0,366,1,1,0,0,875,0,0,5
822,1999,3,366,1,3,365,1,30.00,0,0,365,1,1,0,0,876,0,0,5
823,1999,10,1,-9,3,860,-9,14926.00,780000,1,850,1,1,0,0,877,0,1,5
824,1999,12,710,1,3,721,1,21.45,447000,1,235,0,0,0,0,878,0,0,5
825,1991,.,571,1,1,.,1,5.00,0,0,-9,-9,-9,0,0,879,0,0,5
826,2000,1,651,1,1,625,1,20580.00,5000,0,625,1,1,0,0,880,0,0,5
827,2002,5,860,1,-9,860,-9,14926.00,950000,1,1,-9,-9,1,0,881,1,0,5
828,2003,12,475,1,3,471,1,.,.,0,471,1,1,0,0,882,0,0,5
829,2003,12,471,1,3,475,1,.,.,0,475,1,1,0,0,883,0,0,5
830,2004,7,679,1,3,670,1,40000.00,.,0,670,1,1,0,0,884,0,1,5
831,2006,6,348,1,4,348,-9,13812.00,650000,1,345,1,1,1,0,885,1,0,5
832,2008,8,471,1,3,475,1,665.00,300000,0,475,1,1,0,0,886,0,1,5
833,2008,10,710,1,3,365,1,174.00,0,0,365,1,1,0,0,887,0,0,5
834,2011,1,710,1,3,702,1,1142.00,.,0,702,1,1,0,0,888,0,0,5
835,2011,7,626,1,-9,626,-9,619745,8260000,1,625,1,1,1,0,889,1,1,5
836,2014,3,365,1,1,369,1,27000.00,2400000,1,369,1,1,0,0,890,0,1,5

In [13]:
dfTerrChange.rename(columns={"year":"Year", "month": "Month", "gainer":"Gainer", "gaintype":"IsGainerHomeland", "procedur":"Procedure", "entity":"TerritoryID", "contgain":"GainerIsCont", "area":"TerritoryArea", "pop":"TerritoryPopulation", "portion":"IsWholeTerritory", "loser":"Loser", "losetype":"IsLoserHomeland", "contlose": "LoserIsCont", "entry":"IsSystemEntry", "exit":"IsSystemExit", "number":"TerritorialChangeID", "indep":"IsIndependence", "conflict":"IsMilConflict"}, inplace=True)
dfTerrChange.drop(columns=['version'], inplace=True)
missingmonth = (dfTerrChange['Month'] == '.')
dfTerrChange['MonthClean'] = dfTerrChange['Month']
dfTerrChange['MonthClean'] [dfTerrChange['MonthClean'] == '.'] = 1 # boolean mask
dfTerrChange['TransferDate'] = pd.to_datetime(dict(year=dfTerrChange.Year, month=dfTerrChange.MonthClean, day='01'))
dfTerrChange = dfTerrChange[['TerritorialChangeID', 'Gainer', 'Loser', 'TransferDate', 'Year', 'Month', 'Procedure', 'TerritoryID', 'TerritoryArea', 'TerritoryPopulation', 'IsWholeTerritory', 'IsMilConflict', 'IsIndependence', 'GainerIsCont', 'LoserIsCont', 'IsGainerHomeland', 'IsLoserHomeland', 'IsSystemEntry', 'IsSystemExit']]
dfTerrChange

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,-9,160,2093164.00,1970000,1,0,1,-9,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,.,0,1,0,0,1,0,1,0,0
2,5,200,-9,1816-01-01,1816,.,3,420,179.00,.,0,0,0,0,-9,0,1,0,0
3,28,220,200,1817-01-01,1817,.,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,-9,1817-01-01,1817,.,1,365,650.00,.,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,.,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,-9,155,464568.00,1656300,1,1,1,-9,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,.,0,0,0,0,1,0,1,0,0
8,33,200,-9,1818-06-01,1818,6,1,750,421200.00,.,0,1,0,0,-9,0,1,0,0
9,34,200,-9,1818-01-01,1818,.,2,438,16.00,.,0,0,0,0,-9,0,1,0,0
10,35,640,-9,1818-01-01,1818,.,3,671,388500.00,.,1,1,0,1,-9,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,-9,100,660760.00,1400000,1,0,1,-9,0,1,0,1,0
13,38,220,580,1819-01-01,1819,.,2,580,1.00,.,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,-9,42,48734.00,89000,1,0,1,-9,0,1,0,-9,0
15,40,70,230,1821-03-01,1821,3,-9,70,1426757.00,7000000,1,0,1,-9,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,-9,135,1559891.00,1929300,1,0,1,-9,0,1,0,-9,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,-9,1822-01-01,1822,.,1,625,229471.00,100000,1,1,0,1,-9,1,1,0,0
21,46,140,235,1824-12-01,1824,12,-9,140,8259504.00,5306418,1,0,1,-9,0,1,0,1,0
22,47,200,-9,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,-9,145,3016000.00,1750000,1,0,1,-9,0,1,0,1,0
26,51,200,-9,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,-9,0,1,0,0
27,52,580,220,1825-01-01,1825,.,1,580,1.00,.,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,.,4,616,116348.00,875000,1,0,1,-9,1,1,0,-9,0
29,54,200,-9,1826-01-01,1826,.,2,561,200000.00,.,0,0,0,0,-9,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,-9,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,-9,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,-9,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,.,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,-9,980,487.00,15600,0,0,1,-9,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,.,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,-9,1,-9,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,-9,1991-01-01,1991,.,1,.,5.00,0,0,0,0,1,-9,1,-9,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,-9,860,14926.00,950000,1,0,1,-9,-9,1,-9,1,0
828,882,475,471,2003-12-01,2003,12,3,471,.,.,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,.,.,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,.,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,-9,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,.,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,-9,626,619745,8260000,1,1,1,-9,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

In [14]:
dfTerrChange = dfTerrChange.replace(-9, '')
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 0 ] = ''
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 7693 ] = ''
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 2292 ] = ''
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 7507 ] = ''
dfTerrChange['Month'] = dfTerrChange['Month'].replace('.', '')
dfTerrChange['TerritoryPopulation'] = dfTerrChange['TerritoryPopulation'].replace('.', '')
dfTerrChange['TerritoryArea'] = dfTerrChange['TerritoryArea'].replace('.', '')
dfTerrChange['TerritoryID'] = dfTerrChange['TerritoryID'].replace('.', '')
dfTerrChange['TransferDate'] = dfTerrChange['TransferDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfTerrChange

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,,160,2093164.00,1970000,1,0,1,,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,,0,1,0,0,1,0,1,0,0
2,5,200,,1816-01-01,1816,,3,420,179.00,,0,0,0,0,,0,1,0,0
3,28,220,200,1817-01-01,1817,,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,,1817-01-01,1817,,1,365,650.00,,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,,155,464568.00,1656300,1,1,1,,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,,0,0,0,0,1,0,1,0,0
8,33,200,,1818-06-01,1818,6,1,750,421200.00,,0,1,0,0,,0,1,0,0
9,34,200,,1818-01-01,1818,,2,438,16.00,,0,0,0,0,,0,1,0,0
10,35,640,,1818-01-01,1818,,3,671,388500.00,,1,1,0,1,,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,,100,660760.00,1400000,1,0,1,,0,1,0,1,0
13,38,220,580,1819-01-01,1819,,2,580,1.00,,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,,42,48734.00,89000,1,0,1,,0,1,0,,0
15,40,70,230,1821-03-01,1821,3,,70,1426757.00,7000000,1,0,1,,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,,135,1559891.00,1929300,1,0,1,,0,1,0,,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,,1822-01-01,1822,,1,625,229471.00,100000,1,1,0,1,,1,1,0,0
21,46,140,235,1824-12-01,1824,12,,140,8259504.00,5306418,1,0,1,,0,1,0,1,0
22,47,200,,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,,145,3016000.00,1750000,1,0,1,,0,1,0,1,0
26,51,200,,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,,0,1,0,0
27,52,580,220,1825-01-01,1825,,1,580,1.00,,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,,4,616,116348.00,875000,1,0,1,,1,1,0,,0
29,54,200,,1826-01-01,1826,,2,561,200000.00,,0,0,0,0,,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,,980,487.00,15600,0,0,1,,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,,1,,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,,860,14926.00,950000,1,0,1,,,1,,1,0
828,882,475,471,2003-12-01,2003,12,3,471,,,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,,,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,,626,619745,8260000,1,1,1,,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

In [15]:
dfgainers = dfTerrChange['Gainer']
dfstaters = dfStates['TerritoryID']
flagg = dfgainers.isin(dfstaters)
flagg.value_counts()

True     812
False     25
Name: Gainer, dtype: int64

In [16]:
dfTerrChange.loc[(flagg == False)]

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
45,70,7,70,1836-03-01,1836,3,4,7,1010472.00,38000,1,1,1,,1,1,0,,0
84,115,563,200,1852-01-01,1852,1,,563,286065.00,300000,1,0,1,,0,1,0,,0
90,122,564,200,1854-04-01,1854,4,,564,129153.00,245000,1,0,1,,0,1,0,,0
203,240,348,640,1878-07-01,1878,7,4,348,4584.00,195585,1,1,1,,1,1,0,,0
204,241,348,640,1878-07-01,1878,7,3,640,4610.00,100000,0,1,0,1,1,1,1,0,0
213,251,348,640,1880-11-01,1880,11,3,640,520.00,,0,0,0,1,1,1,1,0,0
214,252,563,200,1880-04-01,1880,4,,563,285363.00,815000,1,1,1,,0,1,0,,0
303,344,563,200,1893-11-01,1893,11,3,572,17363.00,55000,1,0,0,1,0,1,0,0,0
401,444,348,640,1913-05-01,1913,5,3,640,5200.00,,0,1,0,1,1,1,1,0,0
412,455,672,640,1914-01-01,1914,,4,672,104338.00,,1,1,1,,1,1,0,,0
443,486,291,255,1919-06-01,1919,6,3,291,2056.00,330252,1,1,1,,1,1,0,,0
454,497,21,200,1920-12-01,1920,12,,21,421481.00,265000,1,0,1,,0,1,0,,0
476,520,671,640,1920-08-01,1920,8,4,671,259000.00,750000,1,1,1,,0,1,0,,0
500,547,0,220,1924-02-01,1924,2,3,601,363.00,50000,1,0,0,,0,,0,0,0
510,558,328,325,1929-02-01,1929,2,,328,0.00,639,1,0,1,,1,1,0,,0
555,603,1,255,1945-04-01,1945,4,3,305,83869.00,6952744,1,1,0,,1,,1,0,1
556,604,1,740,1945-09-01,1945,9,3,730,220891.00,25100000,1,1,0,,1,,0,0,0
557,605,1,740,1945-09-01,1945,9,3,740,371205.00,73100000,1,1,0,,,,1,0,1
558,606,1,255,1945-05-01,1945,5,1,255,472605.00,69600000,1,0,0,,,,1,0,1
576,624,1,325,1947-02-01,1947,2,3,620,1774149.00,1124000,1,1,0,,0,,0,0,0
577,625,1,325,1947-02-01,1947,2,3,326,743.00,292000,1,1,0,,1,,1,0,0
578,626,1,325,1947-02-01,1947,2,3,520,461541.00,1086000,1,1,0,,0,,0,0,0
579,627,1,325,1947-02-01,1947,2,3,531,124000.00,1000000,1,1,0,,0,,0,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,,1,,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,,1,1,1,1,0

In [17]:
dfTerrChange['Gainer'] [flagg == False] = ''

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
dflosers = dfTerrChange['Loser']
dfstaters = dfStates['TerritoryID']
flagl = dflosers.isin(dfstaters)
flagl.value_counts()

True     651
False    186
Name: Loser, dtype: int64

In [19]:
dfTerrChange.loc[(flagl == False)]

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
2,5,200,,1816-01-01,1816,,3,420,179.00,,0,0,0,0,,0,1,0,0
4,29,365,,1817-01-01,1817,,1,365,650.00,,0,1,0,1,1,1,1,0,0
8,33,200,,1818-06-01,1818,6,1,750,421200.00,,0,1,0,0,,0,1,0,0
9,34,200,,1818-01-01,1818,,2,438,16.00,,0,0,0,0,,0,1,0,0
10,35,640,,1818-01-01,1818,,3,671,388500.00,,1,1,0,1,,1,1,0,0
20,45,640,,1822-01-01,1822,,1,625,229471.00,100000,1,1,0,1,,1,1,0,0
22,47,200,,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
26,51,200,,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,,0,1,0,0
29,54,200,,1826-01-01,1826,,2,561,200000.00,,0,0,0,0,,0,1,0,0
31,56,200,,1826-06-01,1826,6,3,821,1.00,,0,0,0,0,,0,1,0,0
33,58,210,,1828-12-01,1828,12,1,851,412781.00,200000,1,0,0,0,,0,1,0,0
38,63,365,,1829-01-01,1829,,1,365,4680.00,,0,1,0,1,,1,1,0,0
41,66,365,,1830-01-01,1830,,1,365,9360.00,,0,1,0,1,,1,1,0,0
44,69,200,,1835-01-01,1835,,2,561,1.00,,0,0,0,0,,0,1,0,0
47,73,200,,1839-01-01,1839,1,2,680,207.00,29730,1,0,0,0,,0,1,0,0
48,74,200,761,1839-01-01,1839,,2,761,3016.00,,0,0,0,0,1,0,1,0,0
49,75,210,,1839-01-01,1839,,3,850,5560.00,20978000,1,1,0,0,,0,1,0,0
52,78,200,,1840-01-01,1840,1,2,920,268676.00,31907,1,0,0,0,,0,1,0,0
53,79,235,,1840-01-01,1840,,2,540,140000.00,,0,0,0,0,,0,1,0,0
54,81,220,,1841-03-01,1841,3,2,581,373.00,6888,0,0,0,0,,0,1,0,0
58,85,220,,1842-05-01,1842,5,2,960,1321.00,20200,0,0,0,0,,0,1,0,0
59,87,200,,1843-02-01,1843,2,2,7693,126340.00,1730323,1,0,0,0,,0,1,0,0
60,88,200,562,1843-05-01,1843,5,1,562,46620.00,121068,1,1,0,0,,0,1,0,0
61,89,210,,1843-01-01,1843,,3,850,4748.00,,0,0,0,0,,0,1,0,0
62,90,220,,1843-06-01,1843,6,3,437,6370.00,,0,0,0,0,,0,1,0,0
64,93,220,,1844-01-01,1844,,1,960,1595.00,9000,1,1,0,0,,0,1,0,0
65,94,2,7,1845-03-01,1845,3,2,7,1010472.00,35162,1,0,0,1,,1,1,0,0
66,95,220,,1845-01-01,1845,,3,481,66914.00,,0,0,0,0,,0,1,0,0
69,98,300,,1846-11-01,1846,11,2,2292,1158.00,141202,1,0,0,1,,1,1,0,0
71,100,200,,1847-01-01,1847,,1,560,1.00,,0,1,0,0,,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,386,220,,1899-12-01,1899,12,1,430,2394466.00,,0,1,0,0,,0,1,0,0
354,397,200,563,1902-05-01,1902,5,1,563,286065.00,1000000,1,1,0,0,,0,1,0,0
355,398,200,564,1902-05-01,1902,5,1,564,129153.00,200000,1,1,0,0,,0,1,0,0
361,404,200,,1903-03-01,1903,3,1,4784,668220.00,10000000,1,1,0,0,,0,1,0,0
378,421,210,,1907-12-01,1907,12,1,850,53020.00,582175,0,1,0,0,,0,1,0,0
385,428,220,,1909-01-01,1909,1,1,435,893700.00,223000,0,1,0,0,,0,1,0,0
391,434,220,,1911-01-01,1911,,1,483,76534.00,,0,1,0,0,,0,1,0,0
409,452,200,822,1914-05-01,1914,5,2,822,18985.00,180412,0,0,0,0,,0,1,0,0
488,535,2,,1922-05-01,1922,5,2,9760,0.00,0,1,0,0,0,,0,1,0,0
495,542,368,,1923-02-01,1923,2,2,368,2846.00,151960,0,0,0,1,,1,,0,0
515,563,200,21,1933-12-01,1933,12,3,21,404519.00,289516,1,0,0,0,,0,1,0,0
572,620,560,,1947-12-01,1947,12,2,560,429.00,0,0,0,0,0,,1,1,0,0
590,638,325,1,1949-04-01,1949,4,6,520,461541.00,1086000,1,0,0,0,,0,,0,0
600,649,750,761,1950-12-01,1950,12,3,761,7298.00,137158,1,0,0,1,,1,1,0,0
603,652,620,1,1951-12-01,1951,12,,620,1774149.00,1091830,1,0,1,,,1,,1,0
604,653,530,1,1952-09-01,1952,9,5,531,124000.00,1000000,1,0,0,1,,1,,0,0
605,654,740,1,1952-04-01,1952,4,,740,371205.00,83200000,1,0,1,,,1,,,0
609,658,325,1,1954-10-01,1954,10,3,326,223.00,297000,0,0,0,1,,1,,0,0
610,659,345,1,1954-10-01,1954,10,3,326,516.00,62725,0,0,0,1,,1,,0,0
616,665,260,1,1955-05-01,1955,5,,260,247476.00,50200000,1,0,0,,,1,,1,0
617,666,305,1,1955-07-01,1955,7,,305,83869.00,6947000,1,0,0,,,1,,1,0
623,672,600,1,1956-10-01,1956,10,3,601,349.00,183000,1,0,0,1,,1,,0,0
771,825,645,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
772,826,670,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
775,829,155,,1984-11-01,1984,11,3,,1079.00,0,0,0,0,1,,1,,0,0
776,830,160,,1984-11-01,1984,11,3,,1083.00,0,0,0,0,1,,1,,0,0
802,856,92,,1992-09-01,1992,9,3,,147.00,36000,0,0,0,1,,1,,0,0
803,857,91,,1992-09-01,1992,9,3,,293.00,13000,0,0,0,1,,1,,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0
827,881,860,1,2002-05-01,2002,5,,860,14926.00,950000,1,0,1,,,1,,1,0

In [20]:
dfTerrChange['Loser'] [flagl == False] = ''

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
dfterrs = dfTerrChange['TerritoryID']
dfterrstates = dfTerritories['TerritoryID'].astype(str)
flagt = dfterrs.isin(dfterrstates)
flagt.value_counts()

True     826
False     11
Name: TerritoryID, dtype: int64

In [22]:
dfTerrChange.loc[(flagt == False)]

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
75,105,200,,1849-12-01,1849,12,1,,151536.00,9153209,1,1,0,0,,0,1,0,0
384,427,200,800,1909-03-01,1909,3,3,822,38195.00,450000,0,0,0,0,1,0,1,0,0
409,452,200,,1914-05-01,1914,5,2,822,18985.00,180412,0,0,0,0,,0,1,0,0
706,756,740,2,1968-06-01,1968,6,3,,100.00,,0,0,0,0,0,1,0,0,0
771,825,645,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
772,826,670,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
775,829,155,,1984-11-01,1984,11,3,,1079.00,0,0,0,0,1,,1,,0,0
776,830,160,,1984-11-01,1984,11,3,,1083.00,0,0,0,0,1,,1,,0,0
802,856,92,,1992-09-01,1992,9,3,,147.00,36000,0,0,0,1,,1,,0,0
803,857,91,,1992-09-01,1992,9,3,,293.00,13000,0,0,0,1,,1,,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0

In [23]:
dfTerrChange['TerritoryID'] [flagt == False] = ''

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
dfTerrChange.to_csv('../FinalData/territorialchange.csv', encoding='utf-8', index=False)